<div class="row middle-xs">
  <div class="col-xs-11">
    <input type="text" placeholder="Search" #query (keyup.enter)="onQueryEnter(query.value)" class="query" />
  </div>
  <div class="col-xs-1">
    <a (click)="loadLogs()"><md-icon>refresh</md-icon></a>
  </div>
</div>

<br>

<!--Total: {{total}}-->
<md-card class="no-padding">
  <md-progress-bar mode="indeterminate" *ngIf="loading"></md-progress-bar>

  <table class="table" border="0px">
    <tbody>
      <tr *ngFor="let log of logs | paginate: { itemsPerPage: 10, currentPage: page, totalItems: total }">
        <td>
          {{log.msg}}
        </td>
        <td width="200px">
          {{log.datetime}}
        </td>
      </tr>
    </tbody>
  </table>
</md-card>

<div style="text-align:center" *ngIf="total > 10">
  <pagination-controls (pageChange)="paginate($event)"></pagination-controls>
</div>

<md-card *ngIf="!loading && logs?.length == 0">
  No records found.
</md-card>
