<md-card>
  <md-input-container style="width:100%">
    <input #query mdInput placeholder="Search" (keyup.enter)="onQueryEnter(query.value)">
  </md-input-container>
</md-card>

<br>

<md-card class="no-padding">
  <md-progress-bar mode="indeterminate" *ngIf="loading"></md-progress-bar>

  <table class="table" border="0px">
    <tbody>
      <tr *ngFor="let log of logs">
        <td>
          {{log}}
        </td>
      </tr>
    </tbody>
  </table>
</md-card>

<md-card *ngIf="!loading && logs?.length == 0">
  No records found.
</md-card>