<div class="grid__col grid__col--3-of-8 grid__col--centered">
  <md-card>
    <h2>{{projectId ? 'Update project' : 'Create a new project'}}</h2>

    <form [formGroup]="form" (ngSubmit)="submitForm(form.value)" class="wide-form">
      <div *ngIf="responseError" style="color:red; margin-bottom: 8px;">
        <small>{{responseError}}</small>
      </div>
      <div>
        <md-input-container>
          <input mdInput type="name" placeholder="Name" formControlName="name"  [(ngModel)]="project.name" required>
        </md-input-container>
      </div>
      <button md-raised-button type="submit" color="primary">{{projectId ? 'Update' : 'Create'}}</button>
    </form>

    <div *ngIf="projectId">
      <md-list>
        <a href="#">Delete project</a>
      </md-list>
    </div>
  </md-card>
</div>
