  <div>
    <div class="mini-sidebar">
      <md-icon>home</md-icon>
      <md-list>
        <md-list-item mdTooltip="Errors" mdTooltipPosition="right">
          <md-icon>error outline</md-icon>
        </md-list-item>
        <md-list-item mdTooltip="Search" mdTooltipPosition="right">
          <md-icon>search</md-icon>
        </md-list-item>
      </md-list>
    </div>

    <div class="main-content">
      <div class="inner">
        <h3>RoomGizmo</h3>
        <router-outlet></router-outlet>
      </div>
    </div>

  </div>
