<div class="mini-sidebar dashboard">
  <md-list style="margin-top:-22px;">
    <md-list-item mdTooltip="Home" mdTooltipPosition="right">
      <a routerLink="/">
        <md-icon>home</md-icon>
      </a>
    </md-list-item>
    <md-list-item mdTooltip="Create project" mdTooltipPosition="right">
      <a routerLink="/projects/new">
        <md-icon>add</md-icon>
      </a>
    </md-list-item>
  </md-list>
</div>

<div class="main-content">

  <md-toolbar class="top-toolbar">
    <span>Dashboard</span>
    <span class="toolbar-spacer"></span>
  </md-toolbar>

  <div class="inner">
    <router-outlet></router-outlet>
  </div>
</div>