@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import './app/pages/login/login.css';
@import './grid.css';

body {
  background: #f9f9f9;
  font-family: Roboto,"Helvetica Neue",sans-serif;
  margin:0;
  padding: 0;
}

.main-content {
  margin: 20px;
}

.wide-form md-input-container {
  width: 100%;
}
